.App {
  display: flex;
  flex-direction: column;
  background: var(--bs-gray-900);
  height: 100vh;
}

@keyframes loadingAnimation {
  0% {
    border: 5px solid darkslateblue;
    border-right-color: indianred;
    border-bottom-color: goldenrod;
    border-left-color: forestgreen;
    transform: rotate(0deg);
  }
  50% {
    border: 20.5px solid darkslateblue;
    border-right-color: indianred;
    border-bottom-color: goldenrod;
    border-left-color: forestgreen;
    transform: rotate(180deg);
  }
  100% {
    border: 5px solid darkslateblue;
    border-right-color: indianred;
    border-bottom-color: goldenrod;
    border-left-color: forestgreen;
    transform: rotate(360deg);
  }
}

.buffering {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  animation: loadingAnimation 4s infinite ease-in-out;

}
